/* ROBOT.GIF from Giphy - https://giphy.com/gifs/beer-robot-jonasbodtker-1ZDDyAaAA82ywDiyKs */

html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Courier-New", "Courier", monospace;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(202, 121, 135);
  --text-color: rgb(31, 30, 30);
  --robot: url("rrr.gif");
}

[data-theme="dark"] {
  --primary-color: #0f0507;
  --secondary-color: rgb(161, 73, 73);
  --text-color: rgb(161, 161, 161);
  --robot: url("dark_robot.gif");
}

.main_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: var(--robot);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}
.bgk_color {
  background-color: var(--primary-color);
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: "Courier-New", "Courier", monospace;
  color: white;
  font-size: 18px;
  background: var(--secondary-color);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.2);
  filter: brightness(100%);
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.95);
  filter: brightness(100%);
}

button:disabled {
  cursor: default;
  filter: brightness(25%);
}

footer {
  position: absolute;
  font-size: 0.8rem;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(218, 216, 216, 0.397);
}

details {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.39);
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  max-width: 30%;
}

details p {
  padding: 1rem 2rem 1rem 2rem;
}
summary {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
summary:hover {
  cursor: pointer;
}

details:active {
  filter: brightness(40%);
  transform: scale(0.95);
}

/* Dark mode */

.theme_switch_wrapper {
  position: fixed;
  right: 15%;
  top: 0;
  margin-top: 15px;
  z-index: 100;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.theme_switch_wrapper span {
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
}
.toggle_text {
  position: relative;
  top: -4px;
  /* right: 5px; */
  /* color: black; */
}
.theme_switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme_switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: #1e2d48;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/* Media query: tablet or smaller */
@media screen and (max-width: 1000px) {
  .main_container {
    background-size: cover;
    background-position: center center;
  }
  button {
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.5);
  }

  details {
    max-width: 90%;
    background-color: rgba(128, 128, 128, 0.95);
  }
}
